%footer#footer
  .container
    .row
      .span2
        %h4 FOLLOW US
        %ul.unstyled
          %li
            %i.icon-twitter
            = link_to "Twitter", "http://twitter.com/diacode", target: "_blank"
          %li
            %i.icon-facebook-sign
            = link_to "Facebook", "http://facebook.com/diacode", target: "_blank"

      .span5
        %h4 OUR BLOG IN SPANISH
        %p
          We share our knowledge and expertise with the world by using our mother tongue in 
          = link_to "our blog", "http://blog.diacode.com", target: "_blank"
      .span5
        %h4 HIRE US
        %p
          = link_to "Get in touch", new_inquiry_path
          and request our services. 
          We'll love to build your great idea.
