%footer#footer
  .container
    .row
      .span2
        %h4 FOLLOW US
        %ul.unstyled
          %li
            %i.icon-twitter
            = link_to "Twitter", "http://twitter.com/diacode", target: "_blank"
          %li
            %i.icon-facebook-sign
            = link_to "Facebook", "http://facebook.com/diacode", target: "_blank"

      .span5
        %h4 OUR BLOG IN SPANISH
        %p
          While we are fluent in English, we love sharing our knowledge and promoting technology to the Spanish speaking community. 
          = link_to "Check it out here.", "http://blog.diacode.com", target: "_blank"
      .span5
        %h4 HIRE US
        %p
          = link_to "Get in touch.", new_inquiry_path
          We cannot wait to build your next great idea.
