%header#header
  .container
    .pull-left= image_tag "logo-flat.png"
    .pull-right
      %ul.inline
        %li 
          %a{href: "#"} HOME
        %li 
          %a{href: "#"} WORK
        %li 
          %a{href: "#"} SERVICES
        %li 
          %a{href: "/contact"} CONTACT
    .clearfix