%header#header
  .container
    .pull-left
      = link_to image_tag("logo-flat.png"), root_path
    .pull-right
      %ul.inline
        %li=link_to "HOME", root_path
        %li=link_to "WORK", work_path
        %li=link_to "SERVICES", services_path
        %li=link_to "CONTACT", new_inquiry_path
    .clearfix
= yield :subnav