#home
  .row
    .span10.offset1
      %h1= image_tag "handcrafted.png", alt: 'Handcrafted Web Development'
      #hammer.text-center
        = image_tag "hammer.png"

      %p
        %strong Diacode is a full stack Ruby on Rails development shop. 
        We craft apps for web and mobile with love and passion.

      %p
        Since 2010, we have been helping organizations transform their ideas into beautiful, expertly engineered web applications.
        We love helping you turn your vision into reality, putting our heart into every line of code we craft, and every pixel we create.

      %p
        Our methodology is designed to be flexible to your needs, taking an agile approach to testing, continuous integration, and delivery. 
        We use our comprehensive knowledge of Ruby, Rails, and the related ecosystem to meet your goals and solve the technological challenges facing your business.

      %p
        %strong Great ideas, beautiful designs, and professional code - every time.
  %hr
  #services.row
    .span4.text-center
      .service
        %i.icon-cogs
        %h4=link_to "DEVELOPMENT", services_path(anchor: 'development')
        %p
          Crafting new products is our passion. We use the right tools that allow us
          to deliver high quality applications for mobile and the web.
    
    .span4.text-center
      .service
        %i.icon-bullhorn
        %h4=link_to "TRAINING", services_path(anchor: 'training')
        %p
          Sometimes hands-on learning is the key to taking your Ruby on Rails knowledge to the next level. 
          We enjoy teaching others and passing on our knowledge.

    .span4.text-center
      .service
        %i.icon-lightbulb
        %h4=link_to "CONSULTING", services_path(anchor: 'consulting')
        %p
          If you need help with your project, we can team up with you and put your project back on the right track.
  .row
    .span12.text-center
      #call-to-action= link_to "Kickstart your project now", new_inquiry_path, class: 'button'