#home {
  h1 {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  #hammer {
    margin-bottom: 30px;
  }
  #services {
    padding: 20px 0;
    .service {
      padding: 0 30px;
    }
    i {
      font-size: 60px;
      line-height: 60px;
    }
    h4 {
      color: #ff2fa6
    }
    p {
      text-align: justify;
      font-size: 14px;
      line-height: 20px;
    }
  }
  #call-to-action {
    margin: 20px 0;
  }
}